:root {
    --primary: rgb(255, 162, 56);
    --light: #EEEEEE;
    --dark: #212121;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira sans', sans-serif;
}

body, html{
  overflow-x: hidden;
}

nav {
    position: fixed;
    top: 0;
    left: 0; 
    right: 0; 
    z-index: 99; 
    background-color: var(--dark); 
    padding: 20px 32px; 
    border-bottom: 10px solid var(--primary);
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;    
}

h1 {
    color: #FFF; 
    font-size: 28px; 
    font-weight: 900; 
    letter-spacing: 2px; 
    text-transform: uppercase;
    /* margin: 0 0 0 50px; */
}

/* --------------burger------------ */

.hamburger {
    display: block; 
    position: relative; 
    z-index: 1;
    user-select: none;
    appearance: none; 
    border: none; 
    outline: none; 
    background: none; 
    cursor: pointer;
} 

.hamburger span {
    display: block; 
    width: 33px; 
    height: 4px; 
    margin-bottom: 5px; 
    position: relative;
    background-color: var(--light); 
    border-radius: 6px; 
    z-index: 1;
    transform-origin: 0 0;
    transition: 0.4s;
}

.hamburger:hover span:nth-child(2) {
    transform: translateX(10px); 
    background-color: var(--primary);
}

.hamburger.is-active span:nth-child(1) {
    transform: translate(0px, -2px) rotate(45deg);
}

.hamburger.is-active span:nth-child(2) {
    opacity: 0;
    transform: translateX(15px);
}

.hamburger.is-active span:nth-child(3) {
    transform: translate(-3px, 3px) rotate(-45deg);
}

.hamburger.is-active:hover span {
    background-color: var(--primary);
}


.menu {
    display: none;
    flex: 1 1 0%;
    justify-content: space-between;
    margin: 0 4px;
    white-space: nowrap;
}

.menu a {    
    color: #FFF;
    margin: 0 50px;
    font-weight: 600;
    text-decoration: none;
    transition: 0.4s;
    padding: 8px 16px;
    border-radius: 99px;
}

.menu a:nth-child(1) {
    margin: 0 50px 0 100px ;
}

.menu a.is-active, .menu a:hover {
    background-color: var(--primary);
}

.icons {
    white-space: nowrap;
    margin: 0 0 0 0;
}

.icons a {
    margin: 0 25px;
    
}

.icons a:nth-child(1) img{
    margin: 0 -20px 0 70px;
    width: 27.5px;
    max-width: 100%;
    filter: invert(1);
}

.icons a:nth-child(2) img{
    width: 27.5px;
    max-width: 100%;
    filter: invert(1);
    opacity: 0.9;
}

.icons a:nth-child(3) img{
    width: 27.5px;
    max-width: 100%;
    margin: 0 40px 0 -20px;
    filter: invert(1);
}


@media (min-width: 768px) {
  .hamburger{
      display: none; 
  }
  .menu {
      display: block;
  }
}

@media screen and (max-width:1350px) {
  .menu {
    width: 60%;
  }
}


@media screen and (max-width:768px) {
  .menu {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    z-index: 2;
  }
  .menu a {
    opacity: 0;
  }
}

.menu-active {
  transform: translateX(0%);
}

@keyframes navlinkfade {
  from {
      opacity: 0;
      transform: translateX(50px);
  }
  to {
      opacity: 1;
      transform: translateX(0px);
  }
}



/* --------------------Catagories------------------- */

.displayCategory {
    max-width: 100%;
    position: relative;
    top: 90px;
    left: 0; 
    right: 0;
    background-color: #F1F1F1;
    display: flex;
    white-space: nowrap;
    /* padding: 10px 10px; */
    /* display: block; */
}

.displayCategory h2 {
    background-color: black;
    color: white;
    padding: 0.9% 2.5%;
    font-family: 'Poppins', sans-serif;
}

.displayCategory a {
    color: rgb(45, 46, 54);
    /* min-width: 6%; */
    margin: 0.5% 2.5%;
    font-weight: 600;
    text-decoration: none;
    transition: 0.4s;
    padding: 0.8% 1% 0.1% 1%;
    border-radius: 99px;
    font-family: 'Poppins', sans-serif;
}

.displayCategory a img {
    max-width: 100%;
    width: 13px;
    /* filter: invert(1); */
    margin: 0 0 -1px 3px;
}

.displayCategory a:hover {
    background-color: rgb(0, 93, 199);
    color: rgb(0, 0, 0);
    filter: invert(1);
}

/* -------------drop-down-box-------------- */

.container2 {
    padding: 8px 0 0 0;
}

.select-box {
    position: relative;
    display: flex;
    width: 300px;
    top: -4px;
    margin: 0 35px;
    flex-direction: column;
  }
  
  .select-box .options-container {
    background: #151516;
    color: #f5f6fa;
    max-height: 0;
    width: 100%;
    opacity: 0;
    transition: all 0.4s;
    border-radius: 8px;
    overflow: hidden;
  
    order: 1;

    position: absolute;
    z-index: 100;
  }
  
  .selected {
    background: #151516;
    border-radius: 8px;
    margin-bottom: 8px;
    color: #f5f6fa;
    position: relative;
    font-family: 'Poppins', sans-serif;
    order: 0;
  }
  
  .selected::after {
    content: "";
    background: url("images/arrow-down.svg");
    background-size: contain;
    background-repeat: no-repeat;
  
    position: absolute;
    height: 100%;
    width: 32px;
    right: 10px;
    top: 5px;
  
    transition: all 0.4s;
  }
  
  .select-box .options-container.active {
    max-height: 240px;
    opacity: 1;
    overflow-y: scroll;
    margin-top: 104px;
  }
  
  .select-box .options-container.active + .selected::after {
    transform: rotateX(180deg);
    top: -6px;
  }
  
  .select-box .options-container::-webkit-scrollbar {
    width: 8px;
    background: #0f0f0f;
    border-radius: 0 8px 8px 0;
  }
  
  .select-box .options-container::-webkit-scrollbar-thumb {
    background: var(--primary);
    border-radius: 0 8px 8px 0;
  }
  
  .select-box .option,
  .selected {
    padding: 12px 24px;
    cursor: pointer;
  }
  
  .select-box .option:hover {
    background: var(--primary);
    color: var(--light);
  }
  
  .select-box label {
    cursor: pointer;
  }
  
  .select-box .option .radio {
    display: none;
  }
  
  /* Searchbox in dropdown*/
  
  .search-box input {
    width: 100%;
    padding: 12px 16px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    position: absolute;
    border-radius: 8px 8px 0 0;
    z-index: 100;
    border: 8px solid black;
  
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s;
  }
  
  .search-box input:focus {
    outline: none;
  }
  
  .select-box .options-container.active ~ .search-box input {
    opacity: 1;
    pointer-events: auto;
  }
  
/* -----------slider------------ */

.slider{
    width: 100%;
    height: 100%;
    /* border-radius: 10px; */
    overflow: hidden;
    margin: 90 0 0 0;
    
}

.slides{
    width: 500%;
    height: 100%;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 20%;
    transition: 2s;
}

.slide img{
    width: 100%;
    height: 100%;
    /* border-radius: 10px; */
}

/* -----manual-slide----- */

.navigation-manual{
    position: absolute;
    width: 1420px;
    top: 820px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid var(--light);
    background: rgba(255, 255, 255, 0.5);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background: var(--primary);
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -20%;
}

#radio3:checked ~ .first{
    margin-left: -40%;
}

#radio4:checked ~ .first{
    margin-left: -60%;
}


/*css for automatic navigation*/

.navigation-auto{
    position: absolute;
    display: flex;
    width: 1420px;
    justify-content: center;
    top: 820px;
  }
  
  .navigation-auto div{
    border: 2px solid var(--light);
    background: rgba(255, 255, 255, 0.5);
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
  }
  
  .navigation-auto div:not(:last-child){
    margin-right: 40px;
  }
  
  #radio1:checked ~ .navigation-auto .auto-btn1{
    background: var(--primary);
  }
  
  #radio2:checked ~ .navigation-auto .auto-btn2{
    background: var(--primary);
  }
  
  #radio3:checked ~ .navigation-auto .auto-btn3{
    background: var(--primary);
  }
  
  #radio4:checked ~ .navigation-auto .auto-btn4{
    background: var(--primary);
  }

/* --------------------Products------------------- */

.row{
  text-align: center;
}
.col{
  display: inline-block;
  flex-basis: 25%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
  transition: transform 0.5s;
}

.col img{
  max-width: 100%; 
  height: 30%;
}

.title{
  margin: 1% 3% 4%;
  position: relative;
  line-height: 60px;
  color: rgb(49, 46, 46);
}

/* .title a{
  left: 10px;
} */

.title::after{
  content: '';
  background: var(--primary);
  width: 102%;
  height: 3px;
  border-radius: 1px;
  position: absolute;
  bottom: 0;
  left: -1%;
}

h4{
  margin-top: 5%;
  color: #555;
  font-weight: normal;
}

.col p{
  margin-top: 2%;
  font-size: 14px;
}

.col:hover{
  transform: translateY(-10px);
}

.small-container a:nth-child(2){
  position: relative;
  background-color: rgb(38, 36, 36);
  color: white;
  top: -100px;
  right: -88%;
  font-weight: 600;
  text-decoration: none;
  transition: 0.5s;
  padding: 0.3% 1% 0.3% 1%;
  border-radius: 17px;
  font-family: 'Poppins', sans-serif;
}

.small-container a:hover{
  background-color: var(--light);
  color: black;
}

/* --------------------Reviews------------------ */

.testimonial{
  padding-top: 100px;
}

.testimonial .col-1{
  display: inline-block;
  text-align: center;
  margin: 0 25px;
  padding: 40px 20px;
  width: 400px;
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.1);
  cursor: pointer;
  transition: transform 0.5s;
}

.testimonial .col-1 img{
  width: 30px;
  margin-top: 20px;
  margin-bottom: 15px;
}

.testimonial .col-1 h3{
  font-weight: 600;
  color: #555;
  margin-top: 15px;
}

.testimonial .col-1 p{
  font-size: 15px;
  color: #777;
}


.testimonial .col-1:hover{
  transform: translateY(-10px);
}

/* -----------------Brands----------------- */

.brands{
  margin: 100px auto;
}

.col-2{
  width: 200px;
  display: inline-block;
}

.col-2 img{
  width: 100px;
  padding: 0 25px;
  width: 100%;
  cursor: pointer;
}

/* ---------------Footer---------------- */

.footer{
  background: #000;
  color: #8a8a8a;
  font-size: 14px;
  padding: 60px 0 20px;
}

.footer p{
  color: #8a8a8a;
}

.footer h3{
  color: #fff;
  margin-bottom: 20px;
}

.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
  min-width: 250px;
  margin-bottom: 20px;
  display: inline-block;
}

.footer-col-1{
  flex-basis: 30%;
}

.footer-col-2{
  flex: 1;
  text-align: center;
}

.footer-col-2 img{
  width: 180px;
  margin-bottom: 20px;
}

.footer-col-3, .footer-col-4{
  flex-basis: 12%;
  text-align: center;
}
ul{
  list-style-type: none;
}

.footer ul li a{
  text-decoration: none;
  color: gray;
}