<!--LANDING PAGE-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>crackers</title>
</head>
<body>
    <section class="showcase">
        <header>
            <h2 class ="logo">crackers</h2>
            <ul class="nav_links">
                <li><a href="/home" title="">Home</a></li>
                <li><a href="/loginForm" title="">Login</a></li>
                <li><a href="/registerationForm" title="">Create Account</a></li>
                <li><a href="#" title="">About</a></li>
                <li><a href="/contactUs">Contact</a></li>
                
            </ul>
        </header>
        <div class="overlay"></div>
        <video src="{{ url_for('static', filename='BGVID.mp4') }}" muted loop autoplay></video>
        <div class="text">
            <h2>Crackers</h2>
            <h3>Wholesale Manufacturers</h3>
            <p>Diwali without a sparkler won’t be fantastic. Not just Diwali, it is used on the carnivals like Marriage, and New Year. It brings your festival a sound feast. What makes crackers even more appealing these days is that there is a platform for you to buy crackers online?</p>
            <a href="/home">Explore Now!</a>
        </div>

        <ul class="social">
            <li><a href="#"><img src="https://i.ibb.co/x7P24fL/facebook.png"></a></li>
            <li><a href="#"><img src="https://i.ibb.co/Wnxq2Nq/twitter.png"></a></li>
            <li><a href="#"><img src="https://i.ibb.co/ySwtH4B/instagram.png"></a></li>
          </ul>
        </section>

    </section>
    
</body>
</html>