<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sivak Home</title>
    <link rel="stylesheet" href={{ url_for('static', filename='home.css') }} />
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.1.1/css/fontawesome.min.css">
</head>
<body>
    <nav>
        <div class="container">
            <h1>Sivak</h1>
            <div class="menu">
                <a href="/" class="is-active">Home</a> 
                <!--a href="#">About Us</a--> 
                <a href="/home">Products</a>
                <a href="/contactUs">Contact Us</a>
            </div>
            <div class="menu">
                {% if not loggedIn %}
                <a href="/loginForm">Login</a>
                {% else %}
                <a href="/cart">Cart</a>
                <a href="/logout">Logout</a>
                {% endif %}
                
            </div>
            <button class="hamburger">
                <span></span> 
                <span></span>
                <span></span> 
            </button>
        </div>
    </nav>
    <div class="category">
        <h2>Categories</h2>
        {% for row in categoryData %}
			<a href="/displayCategory?categoryId={{row[0]}}">{{row[1]}}</a>
		{% endfor %}
        <!--a href="#">Night Crackers</a>
        <a href="#">Kids Selection</a>
        <a href="#">Blasts</a>
        <a href="#">Saravedi</a>
        <a href="#">Sparklers</a-->
        <!--div class="form_box">   
            <div class="container2">
                <div class="select-box">
                    <div class="options-container">
                        <div class="option">
                            <input
                            type="radio"
                            class="radio"
                            id="automobiles"
                            name="category"
                            />
                            <label for="automobiles">Automobiles</label>
                        </div>
            
                        <div class="option">
                            <input type="radio" class="radio" id="film" name="category" />
                            <label for="film">Film & Animation</label>
                        </div>
            
                        <div class="option">
                            <input type="radio" class="radio" id="science" name="category" />
                            <label for="science">Science & Technology</label>
                        </div>
            
                        <div class="option">
                            <input type="radio" class="radio" id="art" name="category" />
                            <label for="art">Art</label>
                        </div>
            
                        <div class="option">
                            <input type="radio" class="radio" id="music" name="category" />
                            <label for="music">Music</label>
                        </div>
            
                        <div class="option">
                            <input type="radio" class="radio" id="travel" name="category" />
                            <label for="travel">Travel & Events</label>
                        </div>
            
                        <div class="option">
                            <input type="radio" class="radio" id="sports" name="category" />
                            <label for="sports">Sports</label>
                        </div>
            
                        <div class="option">
                            <input type="radio" class="radio" id="news" name="category" />
                            <label for="news">News & Politics</label>
                        </div>
            
                        <div class="option">
                            <input type="radio" class="radio" id="tutorials" name="category" />
                            <label for="tutorials">Tutorials</label>
                        </div>
                    </div>

                    <div class="selected">
                        Show all Categories
                    </div-->

                    <!-- <div class="search-box">
                        <input type="text" placeholder="Start Typing..." />
                    </div> -->
                </div>
            </div>
        </div>
    </div>
    <!--image slider start-->
    <div class="slider">
        <div class="slides">
          <!--radio buttons start-->
          <input type="radio" name="radio-btn" id="radio1">
          <input type="radio" name="radio-btn" id="radio2">
          <input type="radio" name="radio-btn" id="radio3">
          <input type="radio" name="radio-btn" id="radio4">
          <!--radio buttons end-->
          <!--slide images start-->
          <div class="slide first">
            <a href="#"><img src={{ url_for('static', filename='images/placeholder.jpg') }} alt=""></a>
          </div>
          <div class="slide">
            <a href="#"><img src={{ url_for('static', filename='images/placeholder.jpg') }}alt=""></a>
          </div>
          <div class="slide">
            <a href="#"><img src={{ url_for('static', filename='images/placeholder.jpg') }} alt=""></a>
          </div>
          <div class="slide">
            <a href="#"><img src={{ url_for('static', filename='images/placeholder.jpg') }} alt=""></a>
          </div>
          <!--slide images end-->
          <!--automatic navigation start-->
          <div class="navigation-auto">
            <div class="auto-btn1"></div>
            <div class="auto-btn2"></div>
            <div class="auto-btn3"></div>
            <div class="auto-btn4"></div>
          </div>
          <!--automatic navigation end-->
        </div>
        <!--manual navigation start-->
        <div class="navigation-manual">
          <label for="radio1" class="manual-btn"></label>
          <label for="radio2" class="manual-btn"></label>
          <label for="radio3" class="manual-btn"></label>
          <label for="radio4" class="manual-btn"></label>
        </div>
        <!--manual navigation end-->
    </div>
    <!--image slider end-->
    
    <div class="small-container">
        <h2 class = "title">Bestsellers</h2>
        <a href="#">View More</a>
        <div class="row">
            {% for data in itemData %}
            <div class="col">
                <a href="#"><img src={{ url_for('static', filename='uploads/' + data[4]) }}></a>
                <h4>{{data[1]}}</h4>
                <p>{{data[2]}}</p>
            </div>
            {% endfor %}
            <!--div class="col">
                <a href="#"><img src="images/buss.jpg"></a>
                <h4>Flower Pot</h4>
                <p>₹30</p>
            </div>
            <div class="col">
                <a href="#"><img src="images/chakra.jpg"></a>
                <h4>Chakra</h4>
                <p>₹18</p>
            </div>
            <div class="col">
                <a href="#"><img src="images/atom.jpg"></a>
                <h4>Atom Bomb</h4>
                <p>₹25</p>
            </div>
            <div class="col">
                <a href="#"><img src="images/rocket.jpg"></a>
                <h4>Rocket</h4>
                <p>₹28</p>
            </div-->
        </div>
    </div>

    <div class="small-container">
        <h2 class = "title">New Arrivals</h2>
        <a href="#">View More</a>
        <div class="row">
            {% for data in itemData %}
            <div class="col">
                <a href="#"><img src={{ url_for('static', filename='uploads/' + data[4]) }}></a>
                <h4>{{data[1]}}</h4>
                <p>{{data[2]}}</p>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="small-container">
        <h2 class = "title">Kid's Collection</h2>
        <a href="#">View More</a>
        <div class="row">
            {% for data in itemData %}
            <div class="col">
                <a href="#"><img src={{ url_for('static', filename='uploads/' + data[4]) }}></a>
                <h4>{{data[1]}}</h4>
                <p>{{data[2]}}</p>
            </div>
            {% endfor %}
            </div>
        </div>
    </div>
    <div class="testimonial">
        <div class="small-container2">
            <div class="row">
                <div class="col-1">
                    <img src={{ url_for('static', filename='images/quote.jpg') }}>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Magna fermentum iaculis eu non. Sed cras ornare arcu dui vivamus arcu felis bibendum ut.</p>
                    <h3>S Muralidharan</h3>
                </div>
                <div class="col-1">
                    <img src={{ url_for('static', filename='images/quote.jpg') }}>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Magna fermentum iaculis eu non. Sed cras ornare arcu dui vivamus arcu felis bibendum ut.</p>
                    <h3>Priya S</h3>
                </div>
                <div class="col-1">
                    <img src={{ url_for('static', filename='images/quote.jpg') }}>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Magna fermentum iaculis eu non. Sed cras ornare arcu dui vivamus arcu felis bibendum ut.</p>
                    <h3>Natrajan</h3>
                </div>
            </div>
        </div>
    </div>
    
    <div class="brands">
        <div class="small-container">
            <div class="row">
                <div class="col-2">
                    <img src={{ url_for('static', filename='images/anil3.jpg') }}>
                </div>
                <div class="col-2">
                    <img src={{ url_for('static', filename='images/kalishwari.jpg') }}>
                </div>
                <div class="col-2">
                    <img src={{ url_for('static', filename='images/peacock.jpg') }}>
                </div>
                <div class="col-2">
                    <img src={{ url_for('static', filename='images/sony.jpg') }}>
                </div>
                <div class="col-2">
                    <img src={{ url_for('static', filename='images/vanitha.jpg') }}>
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="container">
            <div class="row">
                
                <div class="footer-col-2">
                    
                    <p>We are "SIVAK" crackers online store, 
                        wholesaler of fireworks and crackers owning a 
                        shop in Sivakasi, Tamilnadu. We are into this 
                        business from past few years and have been 
                        successfully running our company with selling 
                        fireworks in Sivakasi and crackers in Sivakasi. 
                        Since the day of our initiation, we have 
                        anticipated largely in making millions of 
                        lives happier and lightened up.</p>
                </div>
                <div class="footer-col-3">
                    <h3>Useful Links</h3>
                    <ul>
                        <li><a href="#">Coupons</a></li>
                        <li><a href="#">Blog Post</a></li>
                        <li><a href="#">Return Policy</a></li>
                        <li><a href="#">bulk Enquiry</a></li>
                    </ul>
                </div>
                <div class="footer-col-4">
                    <h3>Follow Us</h3>
                    <ul>
                        <li><a href="#">Facebook</a></li>
                        <li><a href="#">Twitter</a></li>
                        <li<a href="#">Instagram</a></li>
                        <li><a href="#">Youtube</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <script src={{ url_for('static', filename='burger.js') }}></script>
    <script src={{ url_for('static', filename='form.js') }}></script>
    <script src={{ url_for('static', filename='.js') }}></script>
    
</body>
</html> 